*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Konkhmer Sleokcher' cursive;
}
body{
    background: rgb(247,247,247);
}
#table-container{
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    overflow: auto;
    overflow-x: auto;
    width: 800px;
    height: 225px;
    background: rgb(240, 240, 240);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table{
    /* width: inherit; */
    
}
tr{
    margin-bottom: 5px;
}
td{
    text-align: center;
    background: #4738ec;
    color: white;
    font-family: sans-serif;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid black;
}
th{
    background: rgb(0, 32, 100);
    color: white;
    height: 60px;
    text-align: center;
    justify-content: space-between;
}
::placeholder,input{
    text-align: center;
}
td.Food{
    background: #4738ec;
}
td.Clothing{
    background: #38eccb;
}
td.Transportation{
    background: #4bce6a;
}
td.Debt{
    background: #f4445b;
}
td.Education{
    background: #0b5ad8;
}
td.Miscellaneous{
    background: #017cf0bb;
}
#container{
    background: rgb(52, 70, 232);
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 10px;
    padding: 10px;
}
button{
    place-self: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 50%;
}
input,select{
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
}
select{
    text-align: center;
}
